table, th, td {
  border: 1px solid black;
}

td {
  padding: 0 4px;
}

input {
  margin-left: auto;
}

#new-book {
  margin-bottom: 8px;
}

.error {
  display: none;
  background-color: indianred;
}

.visible {
  display: block;
}

.valid {
  border-color: green;
  background-color: aquamarine;
}

.invalid {
  border-color: #900;
  background-color: #fdd;
}